

/* this is the navigation side */

.conteinor {
    background: rgba(255, 144, 14, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navigation {
   display: flex;
   justify-content: space-between;
   margin: 0px 240px;
}
.navigation-info {
    margin-top: 24px;
}
.navigation-info a {
    text-decoration: none;
    margin-left: 50px;
    color: #424242;
    
}


.section {
    /* width: 862px;
    height: 225px; */
    justify-content: center;
    text-align: center;
    
    margin: 0 530px;
    font-family: 'Work Sans';
}

.section-title {
    font-weight: 700;
}

.btn {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 10px;
    margin:25px 660px;
    color:  #FFFFFF;
    font-size: 1.5em;
    font-family: 'Work Sans';
    
}


.img img {
    width: 1010px;
    margin:0px  240px;
    margin-bottom: 30px;
}

/*-----------------------------------
        
       this is thie other side 

------------------------------------------*/

.images-container {
    justify-content: center;
    align-items: center;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 30px 240px;
}

.content-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.content-title-1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.content-title-2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.content-title-3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.images-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.header-btn {
    
    background-color: #FF900E;
    border-radius: 10px;
    height: 50px;
    color:  #FFFFFF;
    font-size: 1.5em;
    font-family: 'Work Sans';
    padding: 5px;
    
}



/* Second Images Container Styles  */

.images-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 50px 200px;
}

.images2 {
    width: 400px;
    height: 555px;
}

.second-list {
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(218, 207, 207);
}

.content-title2 {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
}

.button-padding {
    padding: 10px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    /* align-items: center; */
}

.button-style {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.button-style2 {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.image-with-button {
    background-image: url(images/architect.png);
    background-position: center;
    width: 400px;
    height: auto;
}


/*--------------------------------
      this is the third part
------------------------------------ */
main {
    background-color: rgb(243, 251, 251);
}

.third-conteinor-title{
    margin-left: 20px;
    font-family: 'Work Sans';
    font-weight: 700;
}
.third-conteinor {
    display: flex;
    margin: 0px 240px;
}



.third-title {
    height: auto ;
    width: 350px;
    background:  rgb(243, 251, 251);
    padding: 10px;
    /* border: 2px solid red; */
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 1px ;
    border-radius: 5px;
}

.third-conteinor-secend-side img {
    width: 600px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -200px;
    width: 200px;
    height: 150px;
}

.btn-primary p {
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
}

/*--------------------------
    this is the text sid
-----------------------------*/


.text-side{

    color: #131313;
    margin: 0px 240px;
    text-align: left;
    margin-top: 50px;
}

.text-side h1 {
    font-weight: 700;
    font-size: 45px;
}

.text-side p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/*--------------------------------------------

      this is the box side of the webside 

-----------------------------------------------*/




.box-conteinor {
    display: flex;
    margin:0px 240px;
    justify-content: space-between;
    /* margin-top: -80px; */
    margin-top: 70px;
   
}


.boxs {
    border: 2px solid #FF900E;
    text-align: center;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
}

.boxs:hover {
    background-color: aqua;
}

.pp{
    color: #727272;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
}



/*---------------------------------

     
     this is logo text   section

--------------------------------------*/

.logo {
    text-align: center;
    margin: 100px 0px ;
}


.text-side-logo {
    color: #131313;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
}

.font-logo {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}



/*---------------------
     this is logo 
------------------------*/


.images-logo {
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
    margin-bottom: 100px;
}



/*------------------------------------ 
        this is the footer side 
-------------------------------------*/




.footer-conteinor {
    margin: 0px 240px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    height: 75px;
    justify-items: center;
    margin-bottom: 200px;
    padding-top: 25px;
}




/*-----------------------------------------
        this is the media quari side 
-------------------------------------------*/


@media only screen and (max-width:576px) {
    

/* 
    body {
        max-width: 480px;
    }
     */
    .conteinor {
        margin: 0;
    }

    .navigation {
        width: 100%;
        flex-direction: column;
        margin: 0;
       
     }
     .navigation h2 {
        text-align: center;
     }
     .navigation-info a {
        flex-direction: column;
        margin: 20px;
     }

     .section {
       
        /* justify-content: center;
        text-align: center; */
        margin: 0 ;
        
    }

    .btn {
        margin-left: 100px;
    }

    .img img {
        width: 100%;
        margin:0px  ;
        margin-bottom: 30px;
    }



    /* this is the other side  */
     
    .btn {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;
    }
    .images-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .images-all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
        margin: 0;
    }
   


    /* this is the third side  */

    main {
        width: 100%;
    }

    .third-conteinor {
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    .third-box {
         
        margin: 0;
        
       
    }
    .third-conteinor-secend-side {
        width: 100%;
    }
    .third-conteinor-secend-side img {
        width: 100%;
    }

    .third-title{
        width: 96%;
       text-align: center;
    }

    /* this is the text side  */

    .text-side {
        width: 100%;
        margin: 0;
        text-align: center;
    }



    /* <!--------------------------------------- */
    /* this is the box side of the webside */
 /* -------------------------------------------> */


    .box-conteinor {
        margin: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }


    .boxs {
        margin: 10px auto;
    }


 /* this is logo side */


 .images-logo {
    margin: 0;
    /* width: 100%; */
    flex-direction: column;
    }

    .images-logo div>img  {
    margin-left: 100px;
       margin-top: 20px;
        
    }




    /* this is the footer side  */


    .footer-conteinor {
        margin: 0;
    }
    .images-logo p {
        margin: 0;

        margin-top: 100px;
        text-align: center;
        height: auto;
        padding: 10%;
        border-radius: 8px;
        background-color: pink;
    }

}
